<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devphill.traficMonitor"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:icon="@drawable/bittorrent"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNonDrawer"
        android:name=".App"
        tools:ignore="GoogleAppIndexingWarning"
     >


        <activity
            android:name="com.devphill.traficMonitor.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true">

        </activity>

        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service
            android:name=".service.TrafficService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            >
        </service>
        <receiver
            android:name=".ui.Widget" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.devphill.traficMonitor.FORCE_WIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget_provider" />
        </receiver>
        <receiver android:name=".reciver.AlarmReceiver" android:process=":remote" />
        <receiver
            android:name=".reciver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
